
        <!-- ABOUT US STARTS
            ========================================================================= -->
        <section class="home-intro pb-1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{{ aboutaccueil.icon1.url }}" alt=""></div>
                                    <div class="text">
                                        <h4>{{ aboutaccueil.info1}}</h4>
                                        <div>{{ aboutaccueil.contenu1}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{{ aboutaccueil.icon2.url }}" alt=""></div>
                                    <div class="text">
                                       <h4>{{ aboutaccueil.info2}}</h4>
                                        <div>{{ aboutaccueil.contenu2}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{{ aboutaccueil.icon3.url }}" alt=""></div>
                                    <div class="text">
                                        <h4>{{ aboutaccueil.info3}}</h4>
                                        <div>{{ aboutaccueil.contenu3}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. ABOUT US ENDS
            ========================================================================= -->