{% load static %}
        <!-- CLIENTS STARTS
            ========================================================================= -->
        <section class="clients pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12  animated" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="herotext text-center">
                            <div class="lrline pb-3"><span>{{ client.titre}}</span></div>
                            <h2>{{ client.sousTitre}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center pt-5">
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="200"><img src="{{client.photo1}}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="300"><img src="{{client.photo2}}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="400"><img src="{{client.photo3}}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="500"><img src="{{client.photo4}}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="600"><img src={{client.photo5}}"" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="700"><img src="{{client.photo6}}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="800"><img src="{{client.photo7}}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="900"><img src="{{client.photo8}}" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. CLIENTS ENDS
            ========================================================================= -->