{% load static %}
        <!-- FEATURES STARTS
            ========================================================================= -->
        <section class="CTA-01 parallax-01">
            <div class="container ps-md-0">
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-6">
                        <div class="block">
                            <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="200">
                                <div class="rightline pb-3"><span>{{ parallax.titre}}</span></div>
                                <h2>{{ parallax.sousTitre}}</h2>
                                <div class="description pt-2">{{ parallax.description}}</div>
                                <div class="callus pt-5">
                                    <div class="info">
                                        <div class="icon"><i class="las la-phone"></i></div>
                                        <div class="number">
                                            <h4>{{ parallax.message}}</h4>
                                            <div><a href="tel:{{ parallax.numero}}">{{ parallax.numero}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. FEATURES ENDS
            ========================================================================= -->