
        <!-- SERVICES STARTS
            ========================================================================= -->
        <section class="services-details" id="services">
            <div class="container">
                <div class="row">
                    <!-- Left Column Starts-->
                    <div class="col-lg-3">
                        <!-- Services List Starts -->
                        <div class="services-list animated" data-animation="fadeInUp" data-animation-delay="200">
                            <ul>
                                <li><a href="#">{{servicedetail.service1}}<i class="las la-arrow-right"></i></a></li>
                                <li class="active"><a href="#">{{servicedetail.service2}} <i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">{{servicedetail.service3}}<i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">{{servicedetail.service4}}<i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">{{ervicedetail.service5}}<i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">{{servicedetail.service6}}<i class="las la-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Services List Ends -->
                        <div class="support pt-5">
                            <img src="{{servicedetail.conseilImage.url}}" class="img-fluid" alt="" >
                            <div class="info">
                                <div class="icon"><i class="las la-phone"></i></div>
                                <div class="number">
                                    <h4>{{servicedetail.nomservice}}</h4>
                                    <div><a href="{{servicedetail.numero}}">{{servicedetail.numero}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Column Ends -->
                    <!-- Right Column Starts-->
                    <div class="col-lg-8 offset-lg-1">
                        <div class="text-left">
                            <h3 class="pb-3">{{servicedetail.sousTitre1}}</h3>
                            <p>{{servicedetail.description1}}</p>
                            <div class="pic pb-3 pt-3">
                                <img src="{{servicedetail.Image.url}}" class="img-fluid" alt="" >
                            </div>
                            <p>
                                {{servicedetail.explication}}
                            </p>
                            <div class="home-features pt-4">
                                <div class="block ps-0">
                                    <h3 class="pb-3">{{servicedetail.sousTitre2}}</h3>
                                    <p>{{servicedetail.description2}}</p>
                                    <div class="accordion pt-3" id="accordionExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{servicedetail.block1}}
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    {{servicedetail.contenu1}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                {{servicedetail.block2}}
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    {{servicedetail.contenu2}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                {{servicedetail.block3}}
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                   {{servicedetail.contenu3}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="pb-3 pt-5">{{servicedetail.sousTitre}}</h3>
                            <p>{{servicedetail.descript2}}</p>
                            <p>
                                {{servicedetail.descript2}}
                            </p>
                            <ul class="list-styled">
                                <li>{{servicedetail.ligne1}}</li>
                                <li>{{servicedetail.ligne2}}</li>
                                <li>{{servicedetail.ligne3}}</li>
                                <li>{{servicedetail.ligne4}}</li>
                                <li>
                                    {{servicedetail.ligne5}}
                                    <ul>
                                        <li>{{servicedetail.sousligne1}}</li>
                                        <li>{{servicedetail.sousligne2}}</li>
                                        <li>{{servicedetail.sousligne3}}</li>
                                    </ul>
                                </li>
                                <li>{{servicedetail.ligne6}}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Right Column Ends -->
                </div>
            </div>
        </section>
        <!-- /.. SERVICES ENDS
