{% extends 'base.html' %}

    {% block 'contenu_principal' %}
        {% include 'application/sections/banner.html' %}
        {% include 'application/sections/about_X.html'%}
        {% include 'application/sections/service.html' %}
        {% include 'application/sections/feature.html' %}
        {% include 'application/sections/testimonial.html' %}
        {% include 'application/sections/client.html' %}
    {% endblock %}

{% block 'script' %}

        {% include 'application/partiels/script.html' %}

{% endblock %}